@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}
// Importing Poppins 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;
    height: 100vh;
    width: 100vw;
    
    

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        width: 40vw;
        height: 100%;
        
        .banner {
            display: flex;
            background-color: black;
            opacity: 40%;
            margin-top: 100px;
            height: 120px;
            width: 100%;
            align-items: center;
            justify-content: center;

            .logo {
                opacity: 100%;
                height: 100px;
                width: auto;
            }

            p {
                color: white;
                font-family: norse-bold;
                font-size: 80px;
            }
        }
        .attribution {
            color: white;
            text-align: center;
            margin: 10px;

            a {
                color: white;
            }
        }

    }

    .right-side {
        width: 60vw;
        height: auto;

        .top {
            background-color: whitesmoke;
            // height: 60vh;
            padding: 150px 30px 20px;
            // margin-top: 10px;
            justify-content: center;

            p {
                font-size: x-large;
                font-weight: 900;
                margin: 10px 0px;
            }
        }

        .mid {
            // height: 20vh;

            form {
                border: 1px solid black;
            
                legend {
                    padding: 30px;
                    padding-top: 10px;
                    padding-bottom: 0px;
                    font-size: 2rem;
                    font-weight: 900;
                }

                .main-box {
                    display: flex;
                    padding: 30px;
                    padding-top: 0px;
                    gap: 30px;

                    label {
                        font-weight: bold;
                        margin-top: 15px;
                    }
                
                    .row {
                        display: flex;
                        flex-direction: column;
                    }

                    input,
                    input:focus {
                        border-radius: 3px;
                    }

                    input {
                        height: 20px;
                        border: 1px solid black;
                    }

                    input:invalid {
                        outline: none;
                        border: 1px solid red;
                    }

                    input:focus {
                        outline: none;
                        border: 1px solid blue;
                    }
                }
            }
        } 

        button {
            height: 30px;
            width: 120px;
            background-color: #596D48;
            margin: 20px;
            color: white;
            border-radius: 5px;
            border: none;
            font-size: medium;
        }

        button:hover {
            box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        }
        
        .bottom {
            margin-left: 20px;
            
            p {
                font-weight: 900;

                a {
                    color: #596D48;
                    font-weight: bolder;
                    text-decoration: none;
                }
            }
        }
    }
}
// form  { display: table;      }
// div   { display: table-row;  }
// label { display: table-cell; }
// input { display: table-cell; }